<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Panel</div>
    <div class="list-group list-group-flush">
        <a href="{{ path('admin_main') }}" class="list-group-item list-group-item-action bg-light">Main</a>
        <a href="{{ path('admin_country_list') }}" class="list-group-item list-group-item-action bg-light">Country list</a>
        <a href="{{ path('admin_genre_list') }}" class="list-group-item list-group-item-action bg-light">Genre list</a>
        <a href="{{ path('admin_channel_list') }}" class="list-group-item list-group-item-action bg-light">Radio channel list</a>
        <a href="{{ path('admin_warning_list') }}" class="list-group-item list-group-item-action bg-light">Warning list</a>
    </div>
</div>
